.content{
    text-align: center;
    position: relative;
    top: -40px;
}

.nav-menu{
    margin-bottom: 275px;
    width: 100%;
    font-size: 15px;
}

.footer{
    background-color: #f2f2f2;
    width: 100%;
    font-size: 16px;
    position: absolute;
    bottom: 0px;    
}

.push-right{
    margin-left: auto;    
}

.thumbnail{
    border-radius: 50%;
}

.search-bar{
    opacity: .3;
    width: 30%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5% / 50%;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-right: 30px;
    margin-left: -25px;}

a{
    padding: .5em;
    color: grey;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

a:hover{
    text-decoration: underline;
}

