.content{
    text-align: center;

}

.nav-menu{
    margin-bottom: 275px;
    width: 100%;
    
}

.footer{
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 700px;
    
}

.push-right{
    margin-left: auto;
}

body{
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a{
    padding: .9em;
    color: grey;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

a:hover{
    text-decoration: underline;
}

